<!DOCTYPE HTML>
<html dir="ltr" lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<title>{{title}}</title>

    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="//polyfill.io/"></script>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300|Pacifico" type="text/css" />
	<link rel="stylesheet" href="/css/main.css" type="text/css" />

	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png"/>

	<link rel="canonical" href="{{canonical}}" />

	<link rel="image_src" href="/images/logo-strudel-folhadinho.png" />
	<link rel="alternate" href="/sitemap.xml" type="application/rss+xml" title="Feed de Strudel Folhadinho"  />



	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="description" content="{{description}}" />


	<meta property="og:title" content="{{title}}" />
	<meta property="og:type" content="activity" />
	<meta property="og:url" content="{{canonical}}/" />
	<meta property="og:image" content="http://strudelfolhadinho.com.br/images/maca.png" />
	<meta property="og:description" content="{{description}}" />


	<meta name="dcterms.title" content="{{title}}">
	<meta name="dcterms.creator" content="Strudel Folhadinho">
	<meta name="dcterms.description" content="{{description}}">

	<meta name="robots" content="all" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="10" />

	<meta name="rating" content="general" />


	<meta name="geo.region" content="BR-SP" />
	<meta name="geo.placename" content="São Paulo" />
	<meta name="geo.position" content="-22.745789, -48.636475" />
	<meta name="ICBM" content="-22.745789, -48.636475" />


	<script type="text/javascript" src="/javascript/all.js"></script>
	<script type="text/javascript">
	var _gaq = _gaq || [];

	var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
	_gaq.push(['_require', 'inpage_linkid', pluginUrl]);

	_gaq.push(['_setAccount', 'UA-36266607-1']);
	_gaq.push(['_addIgnoredOrganic', 'www.strudelfolhadinho.com.br']);
	_gaq.push(['_addIgnoredRef', 'www.strudelfolhadinho.com.br']);
	_gaq.push(['_setDomainName', '.strudelfolhadinho.com.br']);
	_gaq.push(['_setAllowLinker', true]);
	_gaq.push(['_setAllowHash', false]);
	_gaq.push(['_trackPageview']);
	_gaq.push(['_trackPageLoadTime']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
</head>
<body>
<header id="header" role="banner">
	<section id="header-strip">
		<div class="content column-full">

			<div class="midias fright">
{{> midias }}
			</div>

	        <span id="phone" class="fright" title="ligue {{> phoneNumber}}">{{> phoneNumber}}</span>
			<p class="header-strip-delivery fright">Entregamos na cidade de São Paulo</p>

		</div><!-- .column-full -->
	</section><!-- #header-strip -->
	<nav id="nav" class="content column-full" role="navigation">
		<a href="/index.html" id="logo" class="fleft" title="ir para a Home Strudel Folhadinho">
			<img src="/images/logo-strudel-folhadinho.png" alt="Logo Strudel Folhadinho" title="Strudel Folhadinho" class="logo-img" width="292" height="116" />
		</a>

		<ul id="nav-menu" class="fright">
			<li class="fleft nav-link first">
				<a href="/cardapio.html" title="Veja nosso cardápio">Cardápio</a></li>
			<li class="fleft nav-link second">
				<a href="/como-e-feito.html" title="Como os strudels são feitos?">Como é Feito?</a></li>
			<li class="fleft nav-link third">
				<a href="/onde-comprar.html" title="Como compro com a Strudel Folhadinho?">Onde Comprar?</a></li>
		</ul><!-- #nav-menu -->

		<div class="clear"></div>
	</nav><!-- #nav -->
</header><!-- #header -->
